/* variables colors */
@import url('./variables.css');
/* variables colors */
.portfolio {
        color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 50px;
    height: 100%;
    width: 100%;
} 
.portfolio .portfolio-header {
    position: relative;
    font-size: 30px;
}

.portfolio .portfolio-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 40px;
    border-bottom: 2px solid var(--el-color-1);
}
.portfolio .portfolio-sections {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 30px;
    flex-wrap: wrap;
    
}
.portfolio .portfolio-sections a {
       width: 45%;
       /* height: 300px; */
}
.portfolio .portfolio-sections section {
        cursor: pointer;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-black-3);
        overflow: hidden;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
.portfolio .portfolio-sections section img {
        width: 100%;
        height: 100%;
        object-fit:contain;

}
.portfolio .portfolio-sections section .portfolio-data {
     color: var(--el-color-1);
     position: absolute;
     top: -150%;
     width: 100%;
     height: 100%;
     background-color:rgba(0, 0, 0, 0.6);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transition: .5s  linear;
     -webkit-transition: .5s  linear;
     -moz-transition: .5s  linear;
     -ms-transition: .5s  linear;
     -o-transition: .5s  linear;
}
.portfolio .portfolio-sections section .portfolio-data .description {
    color: white;

}
.portfolio .portfolio-sections section:hover > .portfolio-data{
   top: 0%;
}
@media (max-width:992px) {
    .portfolio .portfolio-sections a {
        width: 100%;
    }
}
@media (max-width:750px) {
.portfolio .portfolio-header {
        font-size: 20px;
    }
}