:root {
    --bg-black-1:#504e70;
    --bg-black-2:#302e4d;
    --bg-black-3:#2d2b33;
    --bg-black-4:#1a1a1f;
    --bg-white-1:#f2f2fc;
    --bg-white-2:#e8dfec;
    --el-color-1:#f7740c;
    --el-color-2:#f70c2e;
    --el-color-3:#330cf7 ;
    --text-color:#fff;
    --text-color-1:rgb(0, 0, 0)f;
    --text-color-2:rgba(168, 159, 159, 0.933);
}